:root {
    --highlighted-color:#68ad4a ; 
}

.heading-container{
    background-image: linear-gradient(to left, transparent 20%, rgb(44, 44, 44) 70%), url('../images/bg/tree.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    display: block;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px;
    margin-bottom: 40px;

}


.heading-container .flex{
    display: flex;
    padding: 0px;
    margin: 0px;
}

.heading-container p{
    display: flex;
    padding: 5px;
    margin: 0px;
    font-family:inter;

}


.heading-title{
    font-size: 30px;
    font-family:ingame;
    padding: 5px;
    margin: 0px;
    font-weight: 100;

}

.article-container{
    display: flex;
}

.article-container a{
    display: flex;
    padding: 15px;
    width: 100px;
    background-color: rgb(44, 44, 44);
    margin-right: 10px;
    border-radius: 2px;
}