.banner{
    background-color: transparent;
    width: 100%;
    height: 250px;
    display: flex;
    position: relative;  
    padding-top: 0px;
    font-family: inter;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left:auto ;
    margin-right:auto ;
    text-align: center;
    border-radius: 10px;
    top: 10px;
}

.splash-art{
    width: auto;
    height: 65%;
    position: relative;
    top: 60px;

}

.splash-art img{
    width: auto;
    height: 100%;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    background-color: transparent;

}


.banner-detail-container{
    width: 50%;
    height: 100%;
    text-align: center;
    margin-top:auto ;   
    margin-bottom:auto ;
    display: flex;
    text-align: center;
    justify-content: center; 
    align-items: center; 
    background-color: transparent;

}

@media all and (max-width: 1600px) {
    .splash-art{
        width: 100%;
        background-color: transparent;
        text-align: center;
        margin-top:auto ;   
        margin-bottom:auto ;
        display: flex;
        text-align: center;
        justify-content: center; 
        align-items: center; 
        position: relative;
        top: 15px;
        right: -100px;

    }
    .splash-art img{
        height: 120%;
        width: auto;
        
    }

    .banner-detail-container{
        width: 70%;
    }

    .banner{
        flex-direction: row-reverse;
        min-height: 300px;
        height: auto;

    }

}



@media all and (max-width: 1200px) {
    .splash-art{
        position: absolute;
        right: -30px;
        width: 50%;
        top: 70px;

    }
    .splash-art img{
        width: auto;
        height: 100%;        
    }

    .banner-detail-container{
        width: 90%;
        left: 0px;
        position: absolute;
        background-image: linear-gradient(to left, transparent, var(--background-color) 50%);

    }
    
    .banner-description{
        width: 60%;
        max-height: 130px;
        overflow-y: auto;

    }

}

@media all and (max-width: 500px) {

    .banner{
        height: auto;
        
    }

}



.banner-details{
    top: 20px;
    position: relative;
    text-align: left;
    width: 100%;
}

.banner-title{
    font-size: 40px;
    font-family: genshin;
    padding: 0px;
    margin: 0px;
    font-weight: 700;
    
}

.banner-icons{
    display: flex;
    padding: 0px;
    margin: 0px;
    background-color: transparent;

}

.banner-icons img{
    width: 25px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}

.banner-icons .rarity{
    height: 25px;
    width: auto;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}

.banner-icons .ghostrarity{
    height: 25px;
    width: auto;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    position: absolute;
    opacity: 0.5;


}

.banner-description{
    margin: 0px;

}



.flex{
    display: flex;
}

.sources{
    position: relative;
    top: 15px;
    display: flex;
    flex-wrap: wrap;
}

.sources p{
    font-size: 14px;
    position: relative;
    top: -8px;
    padding-right:5px ;
}

.sources a{
    display: flex;
    position: relative;
    height: 25px;
    padding-top: 7px;
    padding-left:10px ;
    padding-right:10px ;
    margin-right: 3px;
    border-radius:20px ;
    text-decoration: none;
    font-size: 14px;
    font-family: inter;
    color: var(--topnav-color);
    background-color: var(--highlighted-color);
    filter: brightness(95%);
    -webkit-filter: brightness(95%);
    -moz-filter: brightness(95%);  
    -o-filter: brightness(95%);  
    -ms-filter: brightness(95%);
    transition: all 0.2s ease-in-out;
    font-family: inter;

}

.sources a:focus{
    text-decoration: none;
    color: var(--topnav-color);
}


#dark a{
    color: var(--primary-text-color);
}

#dark a:focus{
    text-decoration: none;
    color: var(--primary-text-color);
}

.sources a img{
    position: relative;
    top: -3px;
    width: auto;
    height:90% ;
    padding-right: 5px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.sources a i{
    position: relative;
    top: 4px;
    left: 4px;
    font-size: 10px;

}

.information{
    position: relative;
    top: 20px;

}


.set-bonus-container{
    display: block;
    padding: 10px;
    width: 50%;
    background-color:var(--hover-colour) ;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 15px;
    padding-bottom: 5px;
    border-radius: 3px;

}

@media all and (max-width: 1240px) {
    .set-bonus-container{
        position: relative;
        width: 95%;
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
}

.set-bonus-container .flex{
    display: flex;
    padding-left: 10px;
    background-color:var(--hover-colour) ;
    filter: brightness(115%);
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;

}

.set-bonus-container b{
    margin-bottom: 5px;
    font-size: 20px;
    margin:0px;
    text-align: left;
    margin-bottom: 5px;
    font-weight: 700;

}

.set-bonus-container .flex b{
    margin-right:1px;
    font-size: 15px;
}

.set-bonus-container .flex p{
    margin-right:5px;
    padding: 0px;
    max-width: 100%;
    font-size: 15px;


}