.banner{
    background-color: transparent;
    width: 100%;
    height: 400px;
    display: flex;
    position: relative;  
    padding-top: 0px;
    font-family: inter;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left:auto ;
    margin-right:auto ;
    text-align: center;
    border-radius: 10px;
    top: 10px;
    flex-direction: row-reverse;
    
}

@media all and (max-width: 1200px) {
    .banner{
        margin-bottom: 40px;
    }
}

.splash-art{
    width: auto;
    height: 120%;
    position: relative;
    right: 30px;
    animation: splash 1s linear;
    animation-fill-mode: forwards;  

}

.splash-art img{
    width: auto;
    height: 100%;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    background-color: transparent;
}

@keyframes splash {
    0%{ 
      opacity: 0; 
      transform: scale(1.3) translateX(-20px);
      filter: brightness(0%);

    }

    30%{ 
        opacity: 1; 
        transform: scale(1) translateX(-20px);
        filter: brightness(0%);

      }

      70%{ 
        opacity: 1; 
        transform: scale(1) translateX(-20px);
        filter: brightness(0%);

      }


    100%{ 
      opacity: 1; 
      transform: translateX(0px);
      filter: brightness(100%);

    }
}



.banner-detail-container{
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top:auto ;   
    margin-bottom:auto ;
    display: flex;
    text-align: center;
    justify-content: center; 
    align-items: center; 
    background-color: transparent;
}

.banner-details{
    top: 20px;
    position: relative;
    text-align: left;
    width: 100%;
}

.banner-title{
    font-size: 40px;
    font-family: genshin;
    padding: 0px;
    margin: 0px;

}

.banner-icons{
    display: flex;
    padding: 0px;
    margin: 0px;
    background-color: transparent;

}

.banner-icons img{
    width: 25px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}

.banner-icons .rarity{
    height: 25px;
    width: auto;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}

.banner-description{
    margin: 0px;
    font-weight: 500;
    font-family: inter;
    width: 60%;


}

.information{
    position: relative;
    top: 50px;
    padding-bottom: 100px;

}

@media all and (max-width: 1600px) {
    .splash-art{
        width: 100%;
        background-color: transparent;
        text-align: center;
        margin-top:auto ;   
        margin-bottom:auto ;
        display: flex;
        text-align: center;
        justify-content: center; 
        align-items: center; 
        position: relative;
        top: 20px;

        position: absolute;
        right: -30px;
        width: 50%;
    
    }
    .splash-art img{
        height: 120%;
        width: auto;
        
    }

    .banner-detail-container{
        width: 50%;
        left: 0px;
        position: absolute;


    }

    .banner{
        flex-direction: row-reverse;
        height: 300px;

    }

    .banner-description{
        width: 100%;
    }

}

@media all and (max-width: 1200px) {
    .splash-art{
        position: absolute;
        right: 0px;
        width: 50%;
        top: 0px;
        
    }
    .splash-art img{
        width: auto;
        height: 100%;        
    }

    .banner-detail-container{
        width: 90%;
        left: 0px;
        position: absolute;
        background-image: linear-gradient(to left, transparent, var(--background-color) 50%);
        height: 100%;

    }

    .banner{
        overflow: hidden;
    }

    
    .banner-description{
        width: 60%;
        overflow-y: auto;
        height: 100px;        
    }

}



@media all and (max-width: 1200px) {
    .information{
        position: relative;
        top:10px ;
        padding-bottom: 100px;

    }
}




.sources{
    position: relative;
    top: -30px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
}

@media all and (max-width: 1600px) {
    .sources{
        top:-35px;
    }
}

@media all and (max-width: 1200px) {
    .sources{
        top:5px;
    }
}

.sources p{
    font-size: 14px;
    position: relative;
    padding-right:5px ;
    font-family: inter;
}

.sources a{
    display: flex;
    position: relative;
    height: 25px;
    margin-top: 8px;
    padding-top: 7px;
    padding-left:10px ;
    padding-right:10px ;
    margin-right: 3px;
    border-radius:20px ;
    text-decoration: none;
    font-size: 14px;
    font-family: inter;
    color: var(--topnav-color2);
    background-color: var(--highlighted-color);
    filter: brightness(95%);
    -webkit-filter: brightness(95%);
    -moz-filter: brightness(95%);  
    -o-filter: brightness(95%);  
    -ms-filter: brightness(95%);
    transition: all 0.2s ease-in-out;
    font-family: inter;

}

.sources a:focus{
    text-decoration: none;
}




.sources a img{
    position: relative;
    top: -3px;
    width: auto;
    height:90% ;
    padding-right: 5px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.sources a i{
    position: relative;
    top: 4px;
    left: 4px;
    font-size: 10px;

}

.talent-deck{
    display: flex;
    flex-wrap: wrap;
}


.talent-card{
    background-color: var(--hover-colour);
    border-radius: 5px;
    overflow-y: auto;
    margin-bottom: 10px;
    width: 350px;
    height: 500px;
    margin-right: 10px;


}




.talent-icon{
    padding: 10px;
    background-color: #191b1f;
    border-radius: 100px;
    overflow: hidden;
    width: 35px;
    height: 35px;
    margin-right: 10px;

}

.talent-card-heading{
    position: sticky;
    top: 0px;
    left: 0px;
    background-color: var(--hover-colour);

}

.talent-card-heading .talent-icon{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.talent-icon img{
    width: 35px;
    height: 35px;    
    height: auto;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


.talent-card-heading{
    width: 100%;
    display: block;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}



.talent-card-heading-text{
    background-color: transparent;
    padding-top:5px ;
    padding-right: 00px;
    margin-left: 0px;
    width: 100%;
    margin-top:auto ;
    margin-bottom: auto;
    text-align: center;
    text-align: center;
    left: 0px;


}



.talent-card-heading-text .level{
    margin: 0px;
    font-size: 13px;
    width: 70px;
    background-color: var(--hover-colour);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 100px;
    backdrop-filter: blur(100px);

}

@media all and (max-width: 1200px) {
    .talent-card{
        width: 100%;
        height: auto;
        min-height: auto;

    }

    .talent-card-heading{
        display: flex;
    }

    .talent-card-heading-text{
        text-align: left;
    }

    .talent-card-heading-text .talent-card-title, .talent-card-heading-text .level{
        text-align: left;
        margin-left: 10px;
        width: 50%;

    }

}


.title{
    font-family: interbold;
    font-size: 20px;
    margin:0px;
    text-align: left;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    width: 100%;
    margin-bottom: 5px;

}


.talent-card-title{
    font-family: interbold;
    font-size: 16px;
    margin:0px;
    text-align: left;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    width: 100%;
    text-align: center;

}



.talent-card-description{
    font-family: inter;
    font-size: 0.9rem;
    margin: 0px;
    margin-bottom: 5px;
    overflow: auto;
}

.talent-card-description h1{
    font-family: intersemibold;
    font-size: 0.9rem;
    margin: 0px;
    font-weight: 600;
    margin-left: 15px;
    margin-right: 15px;
    color: #E7C073;

}

.talent-card-description p{
    font-family: inter;
    font-size: 0.9rem;
    margin: 0px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;

}

.talent-card-description li{
    font-family: inter;
    font-size: 0.9rem;
    margin: 0px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    

}

.talent-card-description i{
    font-family: inter;
    font-size: 0.9rem;
    margin: 0px;
    margin-bottom: 5px;
    width: 100%;
    margin-right: 15px;
    color: rgb(151, 151, 151);
}





.scalingtable{
    width: 100%;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:var(--hover-colour) ;
    overflow-x: auto;
    margin-bottom: 5px;
    filter: brightness(110%);


}

.talent-card-description .scalingtable td{
    width: 50%;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 13px;

}



span{
    padding: 0px;
    margin: 0px;
}

wbr{
    padding: 0px;
    margin: 0px;
}

tr{
    background-color:var(--hover-colour) ;
    padding: 0px;
    width: 10px;
    font-size: 15px;
    filter: brightness(115%);

}

td{
    padding-left: 5px;
    padding-right: 5px;
    padding-top:2px;
    padding-bottom:2px;
    width: 10px;

}

td{
    padding-left: 5px;
    padding-right: 5px;
    padding-top:2px;
    padding-bottom:2px;
    width: 10px;

}

.base-stat-table{
    width: 600px;
    background-color: var(--hover-colour);
    border-radius: 5px;
    padding-top: 2px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;


}

@media all and (max-width: 650px) {  
    .base-stat-table{
        width: 100%;
        overflow-x: auto;

    }

    .base-stat-table .scalingtable{
        width: 600px;

    }
  }


.passive-deck{
    display: flex;
    width: 100%;
    overflow-x: auto;
    box-sizing: border-box;
}

.passive-deck-wrapper{
    display: flex;

}

.passive-card{
    max-width: 260px;
    height: 350px;
    background-color: var(--hover-colour);
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 10px;
    margin-right: 5px;
    text-align:center ;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

    
}

.passive-card .talent-icon{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;

}

.passive-card h1{
    font-size: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

.passive-card p{
    margin: 0;
    font-size: 15px;
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;

}

.passive-card li{
    margin: 10px;
    font-size: 15px;
    text-align: left;
    width: 95%;

}

.constellations{
    display: block;
}

.constellations .constellation{
    font-family: roboto;
    width: 100%;
    background-color: var(--hover-colour);
    position: relative;
    border-radius: 5px;
    padding-top:15px ;
    padding-bottom:15px ;
    padding-left:15px ;
    padding-right:15px ;
    margin-bottom: 5px;
    display: block;
    box-sizing: border-box;
    border-radius: 5px;

}

.constellation-heading{
    display: flex;
    padding: 0px;
    margin: 0px;

}

.constellation-text{
    display: block;
    padding: 0px;
    margin: 0px;
    margin-top: auto;
    margin-bottom: auto;
    align-content: center;  
    justify-content: center; 
    width: 80%;
    overflow-x: auto;
}

.constellations .constellation h1{    
    font-size: 18px;
    padding: 0px;
    margin: 0px;

}

.constellations .constellation p{    
    padding: 0px;
    margin: 0px;
    font-size: 14px;

}

.constellations .constellation li{    
    padding: 0px;
    margin: 0px;
    font-size: 14px;

}
.logo sup{
    color: var(--highlighted-color);
}

.dark{
    color: rgb(32, 32, 32);
}