
:root {
    --primary-background-color: #1A1C18; 
    --topnav-color2: #232820;
      --search-bar-precolour2:#232820;
    --primary-text-color: #D9E7CB; 
    --highlighted-color: #3E4A36; 

    --hover-colour: #242721; 
  }

  p, a, button{
    color: var(--primary-text-color);

  }

