*{
    text-decoration: none;
}

.dbheader{
    top: 0px;
    position: sticky;
    display: flex;
    padding: 10px;
    width: 100%;
    background-color: rgb(65, 65, 65);
    z-index: 10;
    border-radius: 10px;
    margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

.dbheader a, p{
    padding-right: 10px;
}


.dbheader .right{
    position: absolute;
    right: 0px;
    top: 12px;

}

.dbheader .right a{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;

    background-color: var(--highlighted-color);
    border-radius: 10px;
    margin-right: 10px;
    color: black;

}


.datatable{
    display: none;
    font-size: 1px;

}


table{
    font-size: 10px;

}


