.dbheader{
    top: 0px;
    position: sticky;
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100%;
    background-color: rgb(240, 240, 240);
    z-index: 10;
    
}

.dbheader a, p{
    padding-right: 10px;

}


.dbheader .right{
    position: absolute;
    right: 0px;

}

.datatable{
    display: none;
}