.heading-container{
    background-color: transparent;
    width: 100%;
    display: flex;
    position: relative;
    top:15px;
    margin-bottom: 10px;
    background-color: transparent;
    z-index: 12;
}

.heading-icon{
    width:35px ;
    height: 35px;
    margin-top: 5px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    color: #97854ead;
}


.heading-title{
    margin-left: 5px;
    font-size: 16px;
    font-family: ingame;

}


.item-container{
    position: relative;
    width: 100%;
    height: auto;
    background-color: transparent;
    text-align: left;
    margin-left:auto ;
    margin-right:auto ;
    overflow-x:hidden ;
    flex-wrap: wrap;
    display: flex;
    transition: all 0s ease-in-out;
    list-style:none;
    overflow: hidden;


}

@media all and (max-width: 875px) {  
    .item-container{
        justify-content: center; 
        align-items: center;    
    }
}

.item-container li{
    text-decoration: none;
}

.item-container a{
    text-decoration: none;    

}

.item{
    position: relative;
    width: 110px;
    height: 135px;
    display: block;
    border-radius: 4px;
    background-color: #e9e5dc;
    flex-shrink: 0;
    margin-left:10px ;
    margin-bottom :10px ;
    transition: all 0.05s ease-in-out;
    padding-top: 0px;
    padding-left: 0px;
    text-decoration: none;
    overflow: hidden;

}



.item:hover{
    transform: scale(1);
    transition: all 0.1s ease-in-out;
}

.item:focus{
    transform: scale(1);


}

.item-icon{
    width: 110px;
    height: 110px;
    background-size: cover;
    background-position: cover;
    border-bottom-right-radius: 20px;
}



.item-img{
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    overflow: hidden;
    border-bottom-right-radius: 20px;
    z-index: 9;

}

.item-text{
    position: relative;
    width: 100%;
    height: auto;
    margin-left:auto ;
    margin-right:auto ;
    text-align: center;
    font-family: ingame;
    font-size: 14px;
    color: #495366;
    background-color: transparent;
    margin-top: 3px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;


}

.item-category{
    position: absolute;
    top: 2px;
    left: 2px;
    width: 25px;
    height: 25px;
    z-index: 10;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}

.item-rarity{
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 10x;
    background-color: #424651;
}



.filter-btn-container{
    position: absolute;
    top: 13px;
    right:0px;
    text-align: right;
    background-color: transparent;
    width: auto;
    display: flex;
    margin-top: -2px;
    
}

.filter-btn{
    position: relative;
    right:10px;
    height: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:10px ;
    padding-right:15px ;
    background-color: transparent;
    color:var(--primary-text-color);
    text-align: 12px;
    display: flex;
    border-radius:50px ;
    margin-right: 4px;
}

.filter-btn i{
    margin-top: 0px;
    color:var(--primary-text-color);
    text-align: 10px;
}


.filter-btn p{
    margin-top: 3px;
    color:var(--primary-text-color);
    text-align: 12px;
}

.sortbtn{
    position: relative;
    right:10px;
    height: 35px;
    width: 35px;
    background-color: transparent;
    color:var(--primary-text-color);
    text-align: 12px;
    display: flex;
    border-radius:50px ;
    transition: all 0.2s ease-in-out;
}


.sortbtn i{
    margin-top: 3px;
    color:var(--primary-text-color);
    text-align: 12px;
    transition: all 0.2s ease-in-out;

}

.flip{
    transform: rotate(180deg);
    transition: all 0.2s ease-in-out;

}


.filter-container{
    position: relative;
    width: 100%;
    overflow: hidden;
    max-height: 0px;
    margin-bottom: 10px;
    transition: all 0.5s ease-in-out;
}

.filter-container-show{
    max-height: 550px;
    transition: all 0.5s ease-in-out;
}


.filter-row{
    width: 100%;
    display: flex;
    background-color: transparent;
    flex-wrap: wrap;
    margin-top:8px;

}

.filter-row p{
    font-size: 14px;
    margin-right: 5px;
    margin-top: 2px;

}

.filter-chip{
    position: relative;
    font-size: 14px;
    margin-left: 2px;
    margin-bottom: 5px;
    padding-top:4px ;
    padding-bottom:2px ;
    height: 25px;
    padding-left:10px ;
    padding-right:10px ;
    background-color: var(--hover-colour);
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
    flex-wrap: wrap;
    display: flex;


}

.filter-chip:hover{
    transition: all 0.2s ease-in-out;
}

.filter-chip i{
    opacity: 0;
    width: 0px;
    font-size: 18px;
    margin-right: 2px;
    transition: all 0.1s ease-in-out;
    animation-name: fadeout;
    animation-duration: 0.1s;

}

@keyframes fadein {
    from 
    {
        opacity: 1;
        width: 18px;  
    }
    to 
    {
        opacity: 0;
        width: 0px;
        animation-fill-mode: forwards;  
    }
  }


.active-filter i{
    display: block;
    transition: all 0.1s ease-in-out;
    animation-name: fadein;
    animation-duration: 0.1s;
    width: 18px;
    opacity: 1;
    width: 18px;

  }
  
  @keyframes fadein {
    from 
    
    {
        opacity: 0;
        width: 0px;
            
    }
    to 
    {
        opacity: 1;
        width: 18px;

    
    }
  }



.search-results-container{
    display: none;
}

.bodyhide{
    display: block;
    animation-name:asd;
}

.active-filter{
    background-color:var(--highlighted-color);
}



.keywords{
    width: 0px;
    height: 0px;
    position: absolute;
    user-select: none;
    color: transparent;
}

.hidden1, .hidden2, .hidden3, .hidden4, .hidden5, .hidden6, .hidden7, .hidden7, .hidden8, .hidden9, .hidden10, .hidden11, .hidden12, .hidden13, .hidden14, .hidden15, .hidden16, .hidden17, .hidden18, .hidden19, .hidden20, .hidden21, .hidden22, .hidden23, .hidden24, .hidden25, .hidden26, .hidden27, .hidden28, .hidden29, .hidden30{
    display: none;
}

.selected{
    display: block;
}


.layout-toggle{
    position: relative;
    width: 80px;
    display: flex;
    margin-top: 0px;
    margin-right: 14px;
    border-radius: 4px;
    overflow: hidden;

}


.layout-btn{
    width: 50%;
    background-color: transparent;


}

.active-layout{
    background-color: #303030;

}


.rarity-stars{
    position: absolute;
    bottom: 20px;
    width:100%;
    left: auto;
    right: auto;
    text-align: center;
    color: #ffcc32;
    background-color: transparent;
    z-index: 11;
}

.rarity-stars img{
    transform: scale(1.3);
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}

.sorting-dropdown-container{
    position: relative;
    display: inline-block;

}

.sorting-dropdown-btn{
    position: relative;
    right:10px;
    height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 9px;
    padding-bottom: 5px;
    background-color: transparent;
    color: #424651;
    font-size: 12px;
    display: flex;
    border-radius:50px ;
    margin-right: 4px;

}

.sorting-dropdown-btn b{
    padding-right: 5px;
    font-size: 12px;
}

.sorting-dropdown-content{
    margin-left:-5px ;
    margin-top: 5px;
    display: none;
    position: absolute;
    min-width: 110px;
    overflow: auto;
    z-index: 12;
    border-radius: 2px;
  }

  
  .sorting-dropdown-content button {
    text-decoration: none;
    display: block;
    cursor: pointer;
    text-align: left;
    position: relative;
    font-size: 14px;
    padding-top:4px ;
    padding-bottom:2px ;
    height: 25px;
    padding-left:10px ;
    padding-right:10px ;
    background-color: var(--hover-colour);
    transition: all 0.2s ease-in-out;
    color: #424651;
    width: 100%;

  }

.show {
    display: block;
}


.active-filter-btn{
    background-color: #e0e0e0;
}

.search-results-container{
    display: none;
}

.sorting-dropdown-content .active-sort{
    background-color: #c9c9c9;
}

