*{
    text-decoration: none;
    list-style-type: none;

}

.Disclaimer{
    padding: 10px;
    background-color: #303030;
    border: 1px solid rgb(73, 73, 73);
    border-radius: 2px;
    padding-right:40px;

    
}

.Disclaimer p{
    padding: 0px;
    margin: 5px;
}

.Disclaimer a{
    text-decoration: underline;
    color: var(--highlighted-color);

}



.closeDisclaimerbtn{
    position: absolute;
    right: 5px;
    background-color: transparent;
    border-radius: 100px;
    padding: 5px;
    margin-top: -5px;
    transition: 0.2s ease-in-out;
 

    
}

.closeDisclaimerbtn:hover{
    background-color: rgb(82, 79, 79);
    transition: 0.2s ease-in-out;


    
}

.teams-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;

}

@media all and (max-width: 875px) {  
    .item-container{
        text-align: left;
        justify-content: left; 
        align-items: left;    
    }
}





.team{
    width: 377px;
    background-color: #272727;
    margin: 5px;
    padding: 10px;
    border-radius: 3px;
    margin-left: 0px;


    
}

@media all and (max-width: 875px) {  
    .team{
        width: 100%;
        box-sizing: border-box;
   
    }
}


.teamname{
    font-family: interbold;
}


.tags{
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    max-width: 350px;
    overflow: visible;

}

.tags a{
    display: flex;
    font-size: 11px;
    text-decoration: none;
    border: none;
    margin-right: 5px;
    border-radius: 500px;
    color: rgb(231, 231, 231);
    background-color: rgb(58, 58, 58);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    margin-top:auto ;
    margin-bottom:auto ;
    text-align: center;
    margin-top: 5px;

    overflow: visible;
    cursor: pointer;
    user-select: none;
    
}

.tags .good{
    background-color: rgba(24, 190, 24, 0.493);
}

.tags .bad{
    background-color: rgba(190, 24, 24, 0.548);
}


.characterflex{
    display: flex;
    overflow-x: auto;
    margin-top: 10px;
    margin-left: -10px;

}



.item{
    position: relative;
    width: 90px;
    height: 115px;
    display: block;
    border-radius: 4px;
    background-color: #e9e5dc;
    flex-shrink: 0;
    margin-left:0px ;
    margin-right:0px ;
    margin-bottom :0px ;
    transition: all 0.05s ease-in-out;
    padding-top: 0px;
    padding-left: 0px;
    text-decoration: none;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    text-align: right;

}



.damage{
    width: auto;
    text-align: right;
    border-radius: 2px;
    font-size: 14px;
    font-family: inter;

}

.label{
    font-family: interbold;
    font-size: 17px;
    position: relative;
    z-index: 0;
  

}

.damage b{
    font-family: interbold;
    font-size: 13px;
    float: left;


}

.total{
    width: 100%;
    display: flex;
    background-color: transparent;
    padding: 10px;
    padding-right: 0px;

    height: 25px;
    box-sizing: border-box;
}

.totalvalues{
    margin-top: 0px;
    display: flex;
    margin-left: auto;
    margin-right: 0px;
    font-family: inter;

}


.totalvalues p{
    padding-right: 10px;
    top: -23px;
    position: relative;
    font-family: inter; 

}

.total .label{
    position: relative;
    font-family: interbold;
    top: -23px;
    left: -5px;
    color:#E3E3E3;

}


.item-icon{
    width: 90px;
    height: 90px;
    background-size: cover;
    background-position: cover;
    border-bottom-right-radius: 20px;
}



.item-img{
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    overflow: hidden;
    border-bottom-right-radius: 20px;
    z-index: 9;

}

.item-text{
    position: relative;
    width: 100%;
    height: auto;
    margin-left:auto ;
    margin-right:auto ;
    text-align: center;
    font-family: ingame;
    font-size: 14px;
    color: #495366;
    background-color: transparent;
    margin-top: 3px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;


}

.item-category-weapon{
    position: absolute;
    top: 2px;
    right: 2px;
    width: 25px;
    height: 25px;
    z-index: 10;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    display: flex;
    padding: 1px;
    border-radius: 100px;
    background-color: rgba(22, 22, 22, 0.418);
}



.item-category-artifact{
    position: absolute;
    top: 2px;
    left: 2px;
    width: 25px;
    height: 25px;
    z-index: 10;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    display: flex;
    padding: 1px;
    border-radius: 100px;
    background-color: rgba(22, 22, 22, 0.747);

}

.gear{
    position: absolute;
    bottom:29px;
    display: flex;
    height: 15px;
    margin: 0px;
    margin-left: 2px;
    padding: 0px;
    background-color: rgba(44, 44, 44, 0.377);
    border-radius: 100px;
    padding-left: 2px;
    padding-right: 2px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    backdrop-filter: blur(3px);
}


.gear p{
    margin: 0px;
    margin-left: 2px;
    font-size: 12px;
    color: #E3E3E3;
    padding: 0px;
}




.gear img{
    background-color: rgba(10, 10, 10, 0.164);
    border-radius: 100px;
}



.geartoggle{
    display: flex;
}

.geartoggle p{
    margin: 0px;
    padding: 0px;
    text-align: center;

}

.geartoggle button{
    margin: 2px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: transparent;
    border-radius: 2px;
    display: flex;

}

.geartoggle img{
    height: 15px;
    position: relative;
    top: 1px;
    left: -2px;
    width: auto;

}

.geartoggle .active{
    background-color: #3b3b3b;


}



.item-rarity{
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 10x;
    background-color: #424651;
}

.flex{
    display: flex;
}

.hidden1, .hidden2, .hidden3, .hidden4, .hidden5, .hidden6, .hidden7, .hidden8, .hidden9, .hidden10, .hidden11, .hidden12, .hidden13, .hidden14, .hidden15, .hidden16, .hidden17, .hidden18, .hidden19, .hidden20, .hidden21, .hidden22, .hidden23, .hidden24, .hidden25, .hidden26, .hidden27, .hidden28, .hidden29, .hidden30, .hidden31, .hidden32, .hidden33, .hidden34, .hidden35, .hidden36, .hidden37, .hidden38, .hidden39, .hidden40, .hidden41, .hidden42, .hidden43, .hidden44, .hidden45, .hidden46, .hidden47, .hidden48, .hidden49, .hidden50{
    display: none;
}

.accordion {
    background-color: #363636;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    box-sizing: border-box;
    margin-bottom: 1px;
    display: block;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;

    border-radius: 10px;

  }
.accordion .material-symbols-outlined{
    transform: rotate(-90deg);
    transition: 0.2s ease-in-out;
    position: absolute;
    right: 5px;
    top: 1px;

}
  
.active1 .material-symbols-outlined{
    transform: rotate(90deg);
    transition: 0.2s ease-in-out;

}
  .accordion:hover {
    background-color: #2b2a2a; 
  }


  
  .panel {
    padding: 10px;
    display: none;
    background-color: #353535;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    max-height:400px ;
    overflow-y: auto;
    margin-top: -15px;
    border-radius: 10px;

  }

  .panel p{
    color: rgb(204, 204, 204);
    margin: 0px;
    margin-top: 15px;
    margin-bottom: 15px;


  }

  .panel b{
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;


  }

  .panel i{
    font-size: 13px;
    color: gray;
    margin: 0px;
    padding: 0px;
    margin-top: -15px;

  }

.panel img{
    width: 100%;
    border-radius: 2px;
}

.panel iframe{
    width: 100%;
    height: auto;
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 5px;

}

.hidden{
    display: none;
}

.indent{
    margin-left: 5px;
    padding-left: 5px;
    margin-top: -15px;
    border-left: solid gray 1px;
}

.ertable{
    background-color: #333333;
    padding: 2px;
    border-radius: 2px;
    margin: 2px;
}

.ertable td{
    border-right: 2px solid rgb(77, 75, 75);
    border-bottom: 2px solid rgb(77, 75, 75);
    padding: 0px;
    margin: 0px;
}



